* {
  font-family: "tiller", sans-serif;
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.marginApp {
  max-width: 1440px;
  padding: 0 36px 0 36px;
  margin: auto;
}
@media (max-width: 600px) {
  .marginApp {
    padding: 0 16px 0 16px;
  }
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header img {
  width: 100%;
}
header .header__img__mobile {
  display: none;
}
@media (max-width: 600px) {
  header .header__img__mobile {
    display: block;
  }
  header .header__img__desktop {
    display: none;
  }
}
header select {
  margin: 24px 0 36px 0;
  font-size: 18px;
  padding: 8px 12px 8px 12px;
  border: 0;
  border-radius: 8px;
  background-color: #f4efef;
  font-weight: 400;
  width: 250px;
}

nav ul {
  width: 100%;
  display: flex;
  gap: 48px;
  padding: 0;
  margin: 0;
}
@media (max-width: 600px) {
  nav ul {
    gap: 24px;
  }
}
nav ul li {
  list-style-type: none;
  font-weight: 400;
  font-size: 18px;
  color: black;
  opacity: 0.3;
  padding-bottom: 12px;
  cursor: pointer;
}
nav ul li #linkFinale {
  pointer-events: none !important;
}
@media (max-width: 600px) {
  nav ul li {
    padding-bottom: 8px;
  }
}
nav ul li a {
  text-decoration: none;
  color: black;
}

.navActiv {
  border-bottom: 2px solid black;
  opacity: 1;
}

body section {
  height: 100%;
  flex-grow: 1;
  padding-top: 36px;
  background-color: #f4efef;
  padding-bottom: 72px;
}

#sectionTournament,
#sectionLoser {
  height: 100%;
}

#sectionCartes {
  background: greenyellow;
  display: none;
}

#sectionGroups #listeArticles {
  display: flex;
  flex-wrap: wrap;
  gap: 36px 24px;
}
#sectionGroups article {
  flex-grow: 1;
  width: 48%;
  gap: 24px;
}
#sectionGroups article > p {
  margin: 0 0 12px 0;
  font-size: 18px;
}
@media (max-width: 1000px) {
  #sectionGroups article {
    width: 100%;
  }
}
@media (max-width: 1000px) and (max-width: 600px) {
  #sectionGroups article > p {
    margin-left: 16px;
  }
}

.poules__container {
  background: white;
  border-radius: 8px;
  padding: 24px;
}
.poules__container__onglets {
  display: flex;
  gap: 6px;
}
.poules__container__onglets button {
  font-size: 14px;
  border-radius: 8px;
  border: 0;
  padding: 4px 8px;
  background-color: white;
  cursor: pointer;
}
.poules__container__onglets button.btnActif {
  background-color: #f4efef;
}
@media (max-width: 600px) {
  .poules__container {
    padding: 16px;
    border-radius: 0px;
  }
}

.poules__container__classement__legendes {
  display: flex;
  justify-content: space-between;
  gap: 48px;
}
.poules__container__classement__legendes div {
  display: flex;
  gap: 36px;
}
.poules__container__classement__legendes p {
  font-weight: 400;
  margin-top: 12px;
  margin-bottom: 8px;
}
.poules__container__classement__listJoueurs {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}
.poules__container__classement__listJoueurs__joueur {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #f4efef;
  border-radius: 8px;
  padding: 4px 16px 4px 4px;
  align-items: center;
}
.poules__container__classement__listJoueurs__joueur p {
  margin: 0;
}
.poules__container__classement__listJoueurs__joueur div {
  display: flex;
  align-items: center;
  gap: 6px;
}
.poules__container__classement__listJoueurs__joueur img {
  width: 36px;
  height: 36px;
}
.poules__container__classement__listJoueurs__joueur .joueur__ptsDecklist {
  display: flex;
  gap: 64px;
}
.poules__container__classement__listJoueurs__joueur .joueur__ptsDecklist p {
  width: 14px;
}
.poules__container__classement__listJoueurs__joueur .joueur__ptsDecklist a {
  width: 24px;
  height: 24px;
  margin-left: 3px;
}
.poules__container__classement__listJoueurs__joueur .joueur__ptsDecklist a img {
  width: 100%;
  height: 100%;
}

.linkDecklist {
  width: 24px;
  height: 24px;
  right: 8px;
  position: absolute;
}

.iconDecklist {
  width: 100% !important;
  height: 100% !important;
}

.poules__container__matchs {
  display: none;
  flex-wrap: wrap;
  gap: 4px;
  font-size: 16px;
  margin-top: 12px;
}
.poules__container__matchs__versus {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
}
.poules__container__matchs__versus:hover .replay,
.sectionFinale__listMatchs__match:hover .replay {
  display: flex;
  cursor: pointer;
}
.replay {
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1;
  position: absolute;
  background: #ffffff;
  color: #000000;
  border-radius: 5px;
  white-space: nowrap;
}
.poules__container__matchs__versus .replay {
  border: 4px #f4efef solid;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
}
.sectionFinale__listMatchs__match .replay {
  width: 67%;
  height: 31%;
  margin: 13% 0 0 10%;
  box-shadow: #3a3737 0 0 10px;
  padding: 5px;
}
.bga-icon {
  width: 36px;
  height: 36px;
  background-image: url(assets/bga.png);
  background-size: cover;
  margin-left: 10px;
}
.poules__container__matchs__versus .vs {
  font-weight: 400;
  margin: 0;
}
.poules__container__matchs__versus__joueur {
  padding: 4px 8px 4px 4px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f4efef;
  width: 100%;
}
.poules__container__matchs__versus__joueur > p {
  margin: 0;
  color: #e9b901;
}
.poules__container__matchs__versus__joueur div {
  display: flex;
  align-items: center;
  gap: 6px;
}
.poules__container__matchs__versus__joueur div img {
  width: 36px;
  height: 36px;
}
@media (max-width: 600px) {
  .poules__container__matchs__versus__joueur div img {
    width: 24px;
    height: 24px;
  }
}
.poules__container__matchs__versus__joueur div p {
  margin: 0;
}
@media (max-width: 600px) {
  .poules__container__matchs {
    font-size: 14px;
  }
  .poules__container__matchs img {
    width: 24px;
  }
}

/* SECTION WINRATE */
#sectionStats {
  display: none;
}

#winrate > p {
  font-size: 18px;
  margin: 0 0 12px 0;
}
@media (max-width: 600px) {
  #winrate > p {
    margin-left: 16px;
  }
}

.winrate__list {
  background: white;
  border-radius: 8px;
  padding: 24px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-bottom: 36px;
}
@media (max-width: 600px) {
  .winrate__list {
    border-radius: 0px;
    padding: 16px;
    gap: 16px;
  }
}
.winrate__list__card {
  width: 198px;
  background-color: #f4efef;
  font-size: 14px;
  border-radius: 8px;
  flex: auto;
}
@media (max-width: 600px) {
  .winrate__list__card {
    width: 120px;
  }
}
.winrate__list__card__icon {
  background: white;
  border-radius: 8px;
  height: 24px;
  padding: 2px 6px 2px 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40px;
}
.winrate__list__card__icon img {
  width: 21px;
  height: 14px;
}
.winrate__list__card__top {
  background-image: url(assets/heros/large/l-nevenka.webp);
  background-size: cover;
  background-position: center;
  height: 48px;
  display: flex;
  justify-content: space-between;
  padding: 16px;
  border-radius: 8px 8px 0 0px;
}
.winrate__list__card__top__grade {
  background: white;
  height: 24px;
  padding: 2px 6px 2px 6px;
  border-radius: 8px;
  display: flex;
  align-items: center;
}
.winrate__list__card__top__grade p {
  margin: 0;
}
.winrate__list__card__bot {
  padding: 16px;
  border-radius: 0 0 8px 8px;
}
.winrate__list__card__bot p {
  margin: 0;
}
.winrate__list__card__bot .winTitre {
  font-weight: 400;
}
.winrate__list__card__bot .winPourcentage {
  font-size: 48px;
}
@media (max-width: 600px) {
  .winrate__list__card__bot .winPourcentage {
    font-size: 36px;
  }
}
.winrate__list__card__bot__vs {
  display: flex;
  gap: 4px;
}
.winrateFactions__list, .charts__list {
  background: white;
  border-radius: 8px;
  padding: 24px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.winrateFactions__list {
  margin-bottom: 36px;
}
.winrateFactions__list > p, .charts__list > p {
  margin-top: 24px;
}
@media (max-width: 600px) {
  .winrateFactions__list, .charts__list {
    border-radius: 0px;
    padding: 16px;
    gap: 16px;
  }
}
.charts__list {
  justify-content: center;
  padding: 0;
  overflow: hidden;
}

/* SECTION FINALE */
.listTour {
  display: flex;
  align-items: center;
  gap: 36px;
  flex-grow: 1;
  overflow-x: scroll;
}
@media (max-width: 600px) {
  .listTour {
    gap: 24px;
  }
}
.listTour .sectionFinale__listMatchs {
  display: flex;
  flex-direction: column;
  gap: 36px;
}
@media (max-width: 600px) {
  .listTour .sectionFinale__listMatchs {
    gap: 16px;
  }
}
.listTour .sectionFinale__listMatchs__match {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 4px;
}
.listTour .sectionFinale__listMatchs__match__joueur {
  width: 200px;
  padding: 4px 8px 4px 4px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}
.listTour .sectionFinale__listMatchs__match__joueur > p {
  margin: 0;
  color: #e9b901;
}
.listTour .sectionFinale__listMatchs__match__joueur div {
  display: flex;
  align-items: center;
  gap: 6px;
}
.listTour .sectionFinale__listMatchs__match__joueur div img {
  width: 36px;
  height: 36px;
}
@media (max-width: 600px) {
  .listTour .sectionFinale__listMatchs__match__joueur div img {
    width: 24px;
    height: 24px;
  }
}
.listTour .sectionFinale__listMatchs__match__joueur div p {
  margin: 0;
}

.finaliste {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.scoreBox {
  position: absolute;
  height: 40px;
  width: 25px;
  justify-content: center;
  padding-top: 4px;
  background-color: #ffffff;
  border-radius: 8px;
  margin-left: 215px;
  font-size: 18px;
}

.joueur__bo {
  margin: 0;
  background-color: white;
  border-radius: 8px;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.joueur__bo p {
  text-align: center;
  margin: 0;
}

.bo__win {
  color: #e9b901;
} /*# sourceMappingURL=style.css.map */

#decklistBox {
  z-index: 1;
  display: block;
  position: fixed;
  padding: 5vh 5vw;
  width: 90vw;
  height: 90vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

#decklistBox > div {
  border-radius: 2vh;
  height: calc(100% - 70px);
  width: fit-content;
  max-height: 800px;
  padding: 20px;
  background-color: #fff;
  margin: auto;
  position: relative;
  display: flex;
  justify-content: center;
}

#decklistBox .blockView {
  display: flex;
  height: 100%;
  background-color: #fff;
}

#decklistBox .listView {
  display: none;
  flex-wrap: wrap;
  justify-content: center;
}

#decklistBox .listView .previewBox {
  margin-top: 30px;
  width: 300px;
  height: 418px;
  border-radius: 10px;
}

#decklistBox .listView .listBox {
  width: 300px;
  overflow-y: auto;
  scrollbar-gutter: stable;
  height: 100%;
}
@media (max-width: 600px) {
  #decklistBox .listView .listBox {
    height: calc(100% - 450px);
  }
}

.divider {
  height: 4px;
  width: 100%;
  background: linear-gradient(to right, transparent, #d4af37 50%, transparent);
}
#decklistBox .listView .listBox p {
  text-transform: uppercase;
  font-size: 18px;
  margin: 5px 0 5px 8px;
}

#decklistBox .listView .cardBox .rarityIcon {
  width: 33px;
  height: 13px;
  background-size: cover;
  margin-right: 8px;
}
.rarityIcon.common {
  background-image: url(assets/common-icon.png);
}
.rarityIcon.rare {
  background-image: url(assets/rare-icon.png);
}
.rarityIcon.unique {
  background-image: url(assets/unique-icon.png);
}

#decklistBox .listView .cardBox .quantityIcon {
  width: 32px;
  height: 18px;
  background-size: cover;
  margin-left: auto;
}
.quantityIcon.one {
  background-image: url(assets/1card-icon.png);
}
.quantityIcon.two {
  background-image: url(assets/2cards-icon.png);
}
.quantityIcon.three {
  background-image: url(assets/3cards-icon.png);
}

#decklistBox .listView .cardBox .nameBox {
  width: 190px;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
  overflow: hidden;
}

#decklistBox .listView .cardBox {
  width: calc(100% - 20px);
  display: flex;
  background-color: #f4efef;
  border-radius: 8px;
  padding: 6px;
  align-items: center;
  margin-top: 5px;
}

#decklistBox .uniques {
  border-radius: 1vh 0 0 1vh;
}
#decklistBox .others {
  border-radius: 0 1vh 1vh 0;
}
#decklistBox .blockView .uniques,
#decklistBox .blockView .others {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow: hidden;
}

#decklistBox .blockView .cardBox {
  width: auto;
  object-fit: cover;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #000000;
  aspect-ratio: 0.72;
  display: flex;
  align-items: end;
  justify-content: end;
}

#decklistBox .blockView .cardBox p {
  margin: 12px 8px;
  background-color: #f4efef;
  padding: 8px 9px 2px;
  border-radius: 3px;
  font-size: 18px;
}

#decklistBox .blockView .uniques .cardBox {
  height: 33.33%;
}

#decklistBox .blockView .others .cardBox {
  height: 25%;
}

#decklistBox button.close,
#decklistBox button.list {
  height: 20px;
  width: 20px;
  padding: 20px;
  cursor: pointer;
  position: absolute;
  border: none;
  background: no-repeat center center / 20px 20px;
  background-color: #ffffff;
  top: 0;
}
#decklistBox button.list {
  background-image: url(assets/icon-list.png);
  border-radius: 0 0 0 1vh;
  right: 40px;
}
#decklistBox button.close {
  background-image: url(assets/icon-cross.png);
  border-radius: 0 1vh 0 0;
  right: 0;
}

#decklistBox .loaderContainer {
  width: 600px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.loader {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: inline-block;
  border-top: 5px solid #929292;
  border-right: 5px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* BLOC INFO */

#sectionInfo {
  flex-wrap: wrap;
}

#sectionInfo__details {
  display: flex;
  gap: 36px;
  @media (max-width: 600px) {
    flex-wrap: wrap;
  }
}

.sectionInfo__details__bloc {
  width: 50%;
  @media (max-width: 600px) {
    width: 100%;
  }
}

.sectionInfo__titre {
  margin: 0 0 12px 0;
  font-size: 18px;
  @media (max-width: 600px){
    margin-left: 16px;
  }
} 

.sectionInfo__details__bloc__content {
  font-weight: 400;
  background-color: white;
  padding: 24px;
  border-radius: 8px;
  margin: 0;
  @media (max-width: 600px){
    border-radius: 0px;
  }
}


.sectionInfo__ban__bloc {
  width: 100%;
  margin-top: 36px;
}

.sectionInfo__ban__bloc__listeCartes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: white;
  border-radius: 8px;
  padding: 24px;
  gap: 24px;
  @media (max-width: 600px){
    border-radius: 0px;
  }
}

.sectionInfo__ban__bloc__listeCartes img {
  max-width: 14%;
  border-radius: 8px;
  flex:auto;
  @media (max-width: 600px){
    width: 40%;
  }
}
